{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donors Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12 col-lg-12" style="margin-top: 200px;">
        <h1 style="margin-bottom: 100px; margin-left: 10px; color: darkred;">Blood Donors List</h1>
      </div>
      <div class="col-xs-6 col-lg-6">
        <table border="2" style="margin-bottom: 200px; margin-left: 10px;">
          <tr class="table table-success">
            <th>Donor Id</th>
            <th>Donor Name</th>
            <th>Blood Group</th>
            <th>Location</th>
            <th>Phone Number</th>
          </tr>

          <tr>
            <td>1</td>
            <td>Arjun P</td>
            <td>AB-</td>
            <td>Malappuram</td>
            <td>8111809598</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Abdul Shukkur</td>
            <td>AB-</td>
            <td>Malappuram</td>
            <td>9947576820</td>
          </tr>
        </table>
      </div>

      <div class="col-xs-4 col-lg-4" style="margin-top: 5px; margin-bottom: 200px; margin-left: auto; margin-right: auto;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="https://moulanahospital.com/"><img src="{% static 'images/donor/slider-1.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.asterhospitals.in/hospitals/aster-mims-calicut"><img src="{% static 'images/donor/slider-2.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.kimshealth.org/alshifa/"><img src="{% static 'images/donor/slider-3.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://babymhospital.org/"><img src="{% static 'images/donor/slider-4.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.traumacaremalappuram.com/"><img src="{% static 'images/donor/slider-5.png' %}" class="d-block w-100"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-lg-2"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> 
  </body>
</html>