body{
    background: linear-gradient(#43cea2,#185a9d);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    background: lightcoral;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 50px;
    padding-left: 15px
    
   
}

.header{
  text-align: center;

    
}