body{
    background-color: white;
}

a{
    font-size: 20px;
    color: white;
}

a:hover{
    color: red;
    text-decoration: none;
}

.head{
    color: darkblue;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.top{
    position: fixed;
    top: 70%;
    transform: translateY(-70%);
    padding-left: 1200px;
}

.container1{
  background-color: #323949;
  height: 110px;
}

.footer1{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  text-align: center;
}

.container2{
  background-color: black;
  height: 200px;
}

.footer2{
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 10px;
  text-align: center;

}

label{
  margin-left: 30px;
  font-size: 22px;
}
