{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/donor_notification.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <img src="{% static 'images/donation.png' %}" class="navbar-brand" alt="" width="150px">
    <a class="navbar-brand" style="font-size: 30px;" href="#"><span class="fa fa-heart"> Blood Donation System</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'donor_home' %}"><span class="fa fa-home"> Home</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
               <span class="fa fa-eye"> View</span> 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
                <a class="dropdown-item" href="{% url 'camptable' %}"><span class="fa fa-hospital-o"> Camps</span></a>
                <a class="dropdown-item" href="{% url 'bloodrequest' %}"><span class="fa fa-heart"> Blood Requests</span></a>
                <a class="dropdown-item" href="{% url 'urgentblood' %}"><span class="fa fa-handshake-o"> Urgent Blood Requests</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'donor_search' %}"><span class="fa fa-search"> Search</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'donornotification' %}"><span class="fa fa-bell"> Notification</span></a>
            </li>
        </ul>
        <button class="btn btn-warning" type="submit"><span class="fa fa-sign-out">Logout</span> </button>
    </div>
  </nav>
    <div class="container-fluid" style="margin-top: 20px; margin-bottom: 100px;">
      <h1 style="color:grey; font-size: 50px; margin-top: 20px; margin-left: 20px;">Notifications</h1>
      <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12 col-lg-12" style="margin-top: 10px;">
            <div class="content1">
              <img src="{% static 'images/notification_icon.png' %}" class="image" width="100px">
               <label class="item">Needed </label>
               <label class="item">Name : </label>
               <button class="btn btn-primary btn-md"><span class="fa fa-check"> Accept</span> </button>&nbsp;&nbsp;
               <button class="btn btn-danger btn-md"><span class="fa fa-ban"> Reject</span></button>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-12">
      <a href="#top">
      <div class="top">
        <img src="{% static 'images/donor/topnav.png' %}" class="topimage"></a>
      </div>
    </div>
    <div class="container-fluid1">
      <div class="col-xs-12 col-lg-12">
        <div class="footer1">
          <a href=""><label for="">Terms And Conditions</label></a><a href="{% url 'about' %}"><label for="">About Us</label></a><a href="{% url 'contact' %}"><label for="">Contact Us</label></a><br>
          <a href=""><label>©Blood Donation System</label></a> <a href=""><label>Designed And Developed By Arun Pacheeri</label></a>
        </div>
      </div>
    </div>
          



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> 
</body>
</html>