{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donors Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/recipient_search_.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-danger">
      <img src="{% static 'images/recipient/donation.png' %}" class="navbar-brand" alt="" width="150px">
      <a class="navbar-brand" style="font-size: 30px;" href="#"><h1>Life Saver</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'recipient_home' %}"><span class="fa fa-home"> Home</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-plus"> Create</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
              <a class="dropdown-item" href="{% url 'recipient_bloodrequest' %}"><span class="fa fa-heart"> Blood Request</span></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-eye"> View</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
              <a class="dropdown-item" href="{% url 'camptable' %}"><span class="fa fa-hospital-o"> Camps</span></a>
              <a class="dropdown-item" href="{% url 'donor_info' %}"><span class="fa fa-handshake-o"> Donors</span></a>
            </div>  
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-warning"> Urgent</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
              <a class="dropdown-item" href="https://wa.me/8848193954?text="><span class="fa fa-phone"> Call Admin</span></a>
              <a class="dropdown-item" href="{% url 'recipienturgent' %}"><span class="fa fa-heart"> Blood Request</span></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipient_search' %}"><span class="fa fa-search"> Search</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipient_notification' %}"><span class="fa fa-bell"> Notification</span></a>
          </li>
        </ul>
        <a href="{% url 'recipient_logout' %}" class="btn btn-warning"><span class="fa fa-sign-out">Logout</span></a>
      </div>
    </nav>

    <div class="col-xs-3 col-lg-3" style="margin-top: 200px; width: auto;">
        <h1 style="margin-bottom: 100px; color: darkred;">Blood Donors List</h1>

        <table border="2" style="margin-bottom: 200px;">
            <tr class="table table-success">
                <th>Donor Id</th>
                <th>Donor Name</th>
                <th>Blood Group</th>
                <th>Location</th>
                <th>Phone Number</th>
            </tr>
          
          <tr>
            <td>1</td>
            <td>Faisal Kunnummal</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9746998133</td>
          </tr>
          
          <tr>
            <td>2</td>
            <td>Viswanathan</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>8606098657</td>
          </tr>
          
          <tr>
            <td>3</td>
            <td>Ramlath</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9446881152</td>
          </tr>
          
          <tr>
            <td>4</td>
            <td>Muhammed Rafeeq</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9539430642</td>
          </tr>
          
          <tr>
            <td>5</td>
            <td>Nisar P</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9447108154</td>
          </tr>
          
          <tr>
            <td>6</td>
            <td>Rasheed</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9446408141</td>
          </tr>
          
          <tr>
            <td>7</td>
            <td>Badushan</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9656334438</td>
          </tr>
          
          <tr>
            <td>8</td>
            <td>Muhammed Yousaf</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9496764378</td>
          </tr>
          
          <tr>
            <td>9</td>
            <td>Shareef</td>
            <td>B+</td>
            <td>Karuvarakundu</td>
            <td>9946922475</td>
          </tr>

        </table>
    </div>

    <div class="col-xs-12 col-lg-12">
      <a href="#top">
      <div class="top">
        <img src="{% static 'images/donor/topnav.png' %}" class="topimage"></a>
      </div>
    </div>
  
    <div class="container-fluid1">
      <div class="col-xs-12 col-lg-12">
        <div class="footer1">
          <a href=""><label class="label">Terms And Conditions</label></a><a href="{% url 'about' %}"><label class="label">About Us</label></a><a href="{% url 'contact' %}"><label class="label">Contact Us</label></a><br>
          <a href=""><label class="label">©Blood Donation System</label></a> <a href=""><label class="label">Designed And Developed By Arun Pacheeri</label></a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> 
  </body>
</html>