{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        .container-fluid{
        background-color: white;
      }
      a{
        color: white;
        font-size: 20px;
        text-decoration: none;
      }
      a:hover{
        color: red;
      }

      button.btn-success:hover{
        background-color: red;
        border: 2px solid white;
      }
      
      .container{
        padding-top: 20px;
     
      }

      .image{
        margin-left: 20px;
        margin-top: 15px;

      }

      .content1{
        background-color: azure;
        width: 100%;
        height: 150px;
        box-shadow: 0 0 20px lightgrey;

      }

      .content1:hover{
        border-left: 6px solid blue ;
        width: 100%;
        height: 150px;


      }

      label{
        padding-left: 10px;
      }

      .footer1{
        background-color: 	#323949;
        color: white;
        height: 80px;
        text-align: center;
      }
      .container-fluid1{
        background-color: #323949;
      }
      label{
        padding-top: 30px;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .footer2{
        background-color: black;
        color: white;
        height: 70px;
        text-align: center;
      }
      .container-fluid2{
        background-color: black;
        
      }

      .top{
        position: fixed;
        top: 70%;
        transform: translateY(-70%);
        background-color: red;
        border-radius: 200px;
        border: 2px solid black;
        width: 80px;
        height: 80px;
        margin-left: 1300px;
        
      }


      .topimage{
        width: 50px;
        margin-left: 15px;
        margin-top: 10px;
      }

      .top:hover{
        background-color: grey;
        border-radius: 200px;
        width: 80px;
        height: 80px;
      }



    </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="fixed-top">
                <div class="collapse" id="navbarToggleExternalContent">
                  <div class="bg-dark p-5">
                   <ul class="navbar-nav">
                       <li class="nav-item"><a href="{% url 'recipient_home' %}" style="text-decoration: none;">Home</a></li>
                   </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Create</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'recipient_bloodrequest' %}">Blood Request</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">View</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Camps</a>
                              <a class="dropdown-item" href="#">Donors</a>
                            </div>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Urgent</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Call Admin</a>
                              <a class="dropdown-item" href="{% url 'recipienturgent' %}">Blood Request</a>
                            </div>
                          </li>
                    </ul>
                    <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'recipient_search' %}">Search</a>
                    </li>
                  </ul>
                   <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'recipient_notification' %}" style="text-decoration: none;">Notification</a></li>
                   </ul>
                    <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" style="text-decoration: none;">Logout</a></li>
                   </ul>
                  </div>
                </div>
                <nav class="navbar navbar-dark bg-danger">
                  <h1 style="color: white; font-size: 40px;">Blood Donation System</h1>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                    <img src="{% static 'images/donation.png' %}" class="navbar-brand" alt="" width="150px">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'recipient_home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Create</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="{% url 'recipient_bloodrequest' %}">Blood Request</a>
                                </div>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">View</a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Camps</a>
                                <a class="dropdown-item" href="#">Donors</a>
                              </div>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Urgent</a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Call Admin</a>
                                <a class="dropdown-item" href="{% url 'recipienturgent' %}">Blood Request</a>
                              </div>
                            </li>
                       </ul>
                       <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipient_search' %}">Search</a>
                      </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'recipient_notification' %}">Notification</a>
                        </li>
                        
                      </ul>
                        <button class="btn btn-success" type="submit"><img src="https://www.iconsdb.com/icons/preview/white/logout-xxl.png" width="30px">&nbsp;Logout</button>
                      </form>
                    </div>
                  </nav>
              </div>
         </div>
       </div>
      </div><br><br><br><br><br><br><br><br>
      
    <div class="container-fluid" style="margin-top: 20px; margin-bottom: 100px;">
      <h1 style="color:grey; font-size: 50px; margin-top: 20px; margin-left: 20px;">Notifications</h1>
      <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12 col-lg-12" style="margin-top: 10px;">
            <div class="content1">
              <img src="{% static 'images/notification_icon.png' %}" class="image" width="100px">
               <label class="item">Needed {{i.blood}}</label>
               <label class="item">Name : {{i.name}}</label>
               <label class="item">Phone : {{i.phone}}</label>
               <label class="item">Location : {{i.location}}</label>
               <button class="btn btn-primary btn-md">Accept</button>&nbsp;&nbsp;
               <button class="btn btn-danger btn-md">Reject</button>
            </div>
          </div>

          <div class="col-xs-12 col-lg-12" style="margin-top: 10px;">
            <div class="content1">
              <img src="{% static 'images/notification_icon.png' %}" class="image" width="100px">
              <label class="item">Needed {{i.blood}}</label>
              <label class="item">Name : {{i.name}}</label>
              <label class="item">Phone : {{i.phone}}</label>
              <label class="item">Location : {{i.location}}</label>
              <button class="btn btn-primary btn-md">Accept</button>&nbsp;&nbsp;
              <button class="btn btn-danger btn-md">Reject</button>
            </div>
          </div>

          <div class="col-xs-12 col-lg-12" style="margin-top: 10px;">
            <div class="content1">
              <img src="{% static 'images/notification_icon.png' %}" class="image" width="100px">
              <label class="item">Needed {{i.blood}}</label>
               <label class="item">Name : {{i.name}}</label>
               <label class="item">Phone : {{i.phone}}</label>
               <label class="item">Location : {{i.location}}</label>
               <button class="btn btn-primary btn-md">Accept</button>&nbsp;&nbsp;
               <button class="btn btn-danger btn-md">Reject</button>
              </div>
              </div>

              <div class="col-xs-12 col-lg-12" style="margin-top: 10px;">
                <div class="content1">
                  <img src="{% static 'images/notification_icon.png' %}" class="image" width="100px">
                  <label class="item">Needed {{i.blood}}</label>
                  <label class="item">Name : {{i.name}}</label>
                  <label class="item">Phone : {{i.phone}}</label>
                  <label class="item">Location : {{i.location}}</label>
                  <button class="btn btn-primary btn-md">Accept</button>&nbsp;&nbsp;
                  <button class="btn btn-danger btn-md">Reject</button><br><br><br>
                </div> 
              </div>
      </div>
    </div>
 
    <div class="col-xs-12 col-lg-12">
      <a href="#top">
      <div class="top">
        <img src="{% static 'images/topnav.png' %}" class="topimage"></a>
      </div>
    </div>
    <div class="container-fluid1">
      <div class="col-xs-12 col-lg-12">
        <div class="footer1">
          <a href=""><label for="">Terms And Conditions</label></a><a href="{% url 'about' %}"><label for="">About Us</label></a><a href="{% url 'contact' %}"><label for="">Contact Us</label></a><a href="{% url 'donorlogin' %}"><label for="">Donor Login</label></a>
        </div>
      </div>
    </div>
    <div class="container-fluid2">
      <div class="col-xs-12 col-lg-12">
        <div class="footer2">
          <a href=""><label>©Blood Donation System</label></a> <a href=""><label>Designed And Developed By Arun Pacheeri</label></a>
        </div>
      </div>
    </div>
          



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> 
</body>
</html>