<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation Camps</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        h1{
            font-size: 40px;
            color: maroon;
            margin-top: 10px;
            margin-bottom: 40px;
            font-weight: bolder;

        }
    </style>
</head>
<body>
    <div class="col-xs-12 col-lg-12">
        <center><h1>Blood Donation Camps</h1></center>
        <table border="2" class="table table-dark" width="100%">
            <tr>
                <th>Name Of Organization/Camp</th>
                <th>Date And Time</th>
                <th>Permanent Address</th>
                <th>State</th>
                <th>District</th>
                <th>Name Of Organizer</th>
                <th>Mobile Number</th>
                <th>Email Id</th>
            </tr>
        
            {% for i in details%}
            <tr>
                <td>{{i.camp}}</td>
                <td>{{i.date}}</td>
                <td>{{i.address}}</td>
                <td>{{i.state}}</td>
                <td>{{i.district}}</td>
                <td>{{i.name}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>      
</body>
</html>