{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/hospital_camp.css' %}">
    <script src="{% static 'javascript/hospital_camp.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <img src="{% static 'images/hospital/donation.png' %}" class="navbar-brand" alt="" width="150px">
        <a class="navbar-brand" style="font-size: 30px;" href="#">Blood Donation System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'hospital_home' %}"><span class="fa fa-home"> Home</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="fa fa-plus"> Create</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
                    <a class="dropdown-item" href="{% url 'hospitalcamp' %}"><span class="fa fa-hospital-o"> Camps</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="fa fa-eye"> View</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
                    <a class="dropdown-item" href="{% url 'camptable' %}"><span class="fa fa-hospital-o"> Camps</span></a>
                    <a class="dropdown-item" href="{% url 'bloodrequest' %}"><span class="fa fa-heart"> Blood Requests</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'hospital_search' %}"><span class="fa fa-search"> Search</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'hospitalnotification' %}"><span class="fa fa-bell"> Notification</span></a>
                </li>
            </ul>
            <button class="btn btn-warning" type="submit"><span class="fa fa-sign-out">Logout</span></button>
        </div>
      </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7 col-lg-7">
                <form method="post">
                    {% csrf_token %} 
                    <h1 style="font-size: 45px; font-family:Verdana; font-weight:bolder; margin-bottom: 50px; text-align: center;">Blood Donation Camp</h1>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="inputNameOfOrganization">Name Of Organization/Camp</label>
                            <input type="text" name="camp" class="form-control" id="organization" placeholder="Name Of Organization" onkeyup="campvalid()">
                            <label id="organization_error"></label>
                        </div>
                        <div class="col-md-6">
                            <label for="inputDate">When Would You Like To Organize A Camp</label>
                            <input type="datetime-local" name="date" id="datetime" class="form-control">
                            <label id="datetime_error"></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Permanent Address</label>
                            <input type="text" class="form-control" name="address" id="address" placeholder="Permanent Address" onkeyup="addressvalid()">
                            <label id="address_error"></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">State</label>
                            <input type="text" class="form-control" name="state" id="state" placeholder="State" onkeyup="statevalid()">
                            <label id="state_error"></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputDistrict">District</label>
                            <input type="text" class="form-control" name="district" id="district" placeholder="District" onkeyup="districtvalid()">
                            <label id="district_error"></label>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" onkeyup="namevalid()">
                            <label id="name_error"></label>
                        </div>
 
                        <div class="form-group col-md-6">
                            <label for="inputContact">Contact Number</label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Contact Number" onkeyup="phonevalid()">
                            <label id="phone_error"></label>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPostalCode">Email Id</label>
                            <input type="text" class="form-control" name="email" id="emailid" placeholder="Email Id" onkeyup="emailvalid()">
                            <label id="email_error"></label>
                        </div>

                    </div>
                    <button type="submit" onclick="return validation()" class="btn btn-dark col-md-12">Enter</button>
                </form>
            </div>
            <div class="col-xs-12 col-lg-12">
                <a href="#top">
                <div class="top">
                    <img src="{% static 'images/hospital/top.png' %}" class="topimage"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid1">
        <div class="col-xs-12 col-lg-12">
            <div class="footer1">
                <a href=""><label class="label">Terms And Conditions</label></a><a href="{% url 'about' %}"><label class="label">About Us</label></a><a href="{% url 'contact' %}"><label class="label">Contact Us</label></a><br>
                <a href=""><label class="label">©Blood Donation System</label></a> <a href=""><label class="label">Designed And Developed By Arun Pacheeri</label></a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>      
</body>
</html>