{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login1.css' %}">
</head>
<body>
    
   <div class="container">
    
       <div class="row">
        <div class="header" style="background-color: red; color: white;">
           <img src="{% static 'images/heart.png' %}" alt="" width="550px" height="310ps"><br>
           <h1>Donate Blood Save Life</h1>
           <img src="{% static 'images/blood2.png' %}" alt="" width="550px" height="310ps">
        </div>
           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
             <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
              <h1 style="text-align: center; color: maroon; font-size: 70px; padding-left: 150px; padding-top: 20px;">LOGIN</h1>
             </div>
              
            <form style="margin-bottom:10px; padding-left: 50px; padding-top: 100px;">
                <div class="form-group">
                  <label for="InputEmail1">Email Address</label>
                  <input type="email" class="form-control" id="emailid" aria-describedby="email" placeholder="Email" class="bi bi-envelope-fill">
                  <label id="email_error"></label>
                </div>
                <div class="form-group">
                  <label for="InputPassword1">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password">
                  <label id="password_error"></label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="Check1">
                  <label class="form-check-label" for="Check1">Remember Me</label><br>
                </div>
                <button type="submit" onclick="return validation()" class="btn btn-danger col-md-12">Login</button><br><br><br>
                  
                  <center><label>Don't Have An Account?&nbsp;&nbsp;&nbsp;<a href="{% static 'html/hospital.html' %}" style="text-decoration: none; color: red;">Sign Up</a></label><br>
                  <a href="" style="text-decoration: none; color: red;">Forgot Password?</a></center><br><br>
              </form>
        </div>
       </div>
   </div>
           
      
   <script>
    function validation(){
      var status = 1
      var email = document.getElementById('emailid')
      var password = document.getElementById('password')

      if(email.value == ""){
        document.getElementById('emailid').style.borderColor="red"
        document.getElementById('email_error').innerHTML="** Please Enter Your Email Id **"
        document.getElementById('email_error').style.color="red"
        document.getElementById('email_error').style.display="block"
        var status = 0
       
      }

      else{
        document.getElementById('emailid').style.borderColor="black"
        document.getElementById('email_error').style.display="none"
        var status = 1
      }

      if(password.value == ""){
        document.getElementById('password').style.borderColor="red"
        document.getElementById('password_error').innerHTML="** Please Enter Your Password **"
        document.getElementById('password_error').style.color="red"
        document.getElementById('password_error').style.display="block"
        var status = 0
      }

      else{
        document.getElementById('password').style.borderColor="black"
        document.getElementById('password_error').style.display="none"
        var status = 1
      }

      if(status == 0){
        return false
      }

      if(status == 1){
        return true
      }

    }


  </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>