{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        body{
            background-color: white;
        }

        a{
            font-size: 20px;
            color: white;
        }

        a:hover{
            color: red;
            text-decoration: none;
        }

        .head{
            color: darkblue;
            font-size: 50px;
            font-weight: bolder;
            text-align: center;
        }

        .top{
            position: fixed;
            top: 70%;
            transform: translateY(-70%);
            padding-left: 1300px;
        }

        .container1{
          background-color: #323949;
          height: 110px;
        }

        .footer1{
          padding-top: 30px;
          padding-bottom: 30px;
          padding-left: 10px;
          text-align: center;
        }

        .container2{
          background-color: black;
          height: 200px;
        }
        
        .footer2{
          padding-top: 50px;
          padding-bottom: 30px;
          padding-left: 10px;
          text-align: center;

        }

        label{
          margin-left: 30px;
          font-size: 22px;
        }

    </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <img src="{% static 'images/donation.png' %}" class="navbar-brand" alt="" width="150px">
    <a class="navbar-brand" href="#" style="font-size: 30px;">Blood Donation System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'contact' %}">Contact Us</a>
            </li><br>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                 Login
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
                  <a class="dropdown-item" href="{% url 'donorlogin' %}">Donor</a>
                  <a class="dropdown-item" href="{% url 'recipientlogin' %}">Recipient</a>
                  <a class="dropdown-item" href="{% url 'hospitallogin' %}">Hospital</a>
                  <a class="dropdown-item" href="{% url 'adminlogin' %}">Admin</a>
            </li><br>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                 Sign Up
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
                  <a class="dropdown-item" href="{% url 'donorsignup' %}">Donor</a>
                  <a class="dropdown-item" href="{% url 'recipientsignup' %}">Recipient</a>
                  <a class="dropdown-item" href="{% url 'hospitalsignup' %}">Hospital</a>
            </li><br>
        </ul>
    </div>
  </nav>
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-6 col-lg-6" style="margin-top: 50px;">
                <form method="post">
                    <h1 class="head">Contact Us</h1>
                    <div class="form-group" style="margin-top: 100px;">
                        <input type="text" placeholder="Name" class="form-control" style="border-radius: 50px;" id="name">
                        <label id="name_error"></label>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Email Id" class="form-control" style="border-radius: 50px;" id="emailid">
                        <label id="email_error"></label>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Message" class="form-control" style="height: 200px; border-radius: 50px;" id="message">
                        <label id="message_error"></label>
                    </div><br><br>
                    <center><input type="button" onclick="return validation()" class="btn btn-danger" value="Submit" style="border-radius: 100px; width: 35%; height: 50px;"></center><br><br><br>
                </div>
                <div class="col-xs-6 col-lg-6" style="margin-top: 10px;">
                    <center><img src="{% static 'images/tech.jpg' %}" width="330px" style="margin-top: 100px;"></center>
                </div>
          </div>
          </div>
          </form>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-lg-12">
                  <div class="top">
                      <a href=""><img src="{% static 'images/topnavigation.png' %}" width="90px"></a>
                  </div>
              </div>
          </div>
      </div><br><br><br>
      <div class="container1">
          <div class="footer1">
            <a href=""><label for="">Terms And Conditions</label></a><a href="{% url 'about' %}"><label for="">About Us</label></a><a href="{% url 'contact' %}"><label for="">Contact Us</label></a><a href="{% url 'donorlogin' %}"><label for="">Donor Login</label></a>
          </div>
      </div>
      <div class="container2">
          <div class="footer2">
            <a href=""><label for="">© Blood Donation System</label></a><a href=""><label for="">Designed And Developed By Arun Pacheeri</label></a>
        </div>
      </div>
      <script>
          function validation(){
            var status = 1
            var name = document.getElementById('name')
            var email = document.getElementById('emailid')
            var message = document.getElementById('message')

            if(name.value == ""){
                document.getElementById('name').style.borderColor="red"
                document.getElementById('name_error').innerHTML="** Please Enter Your Name **"
                document.getElementById('name_error').style.color="red"
                document.getElementById('name_error').style.display="block"
                status = 0
            }

            else{
                document.getElementById('name').style.borderColor="black"
                document.getElementById('name_error').style.display="none"
                status = 1
            }

            if(email.value == ""){
                document.getElementById('emailid').style.borderColor="red"
                document.getElementById('email_error').innerHTML="** Please Enter Your Email Id **"
                document.getElementById('email_error').style.color="red"
                document.getElementById('email_error').style.display="block"
                status = 0
            }

            else{
                document.getElementById('emailid').style.borderColor="black"
                document.getElementById('email_error').style.display="none"
                status = 1
            }

            if(message.value == ""){
                document.getElementById('message').style.borderColor="red"
                document.getElementById('message_error').innerHTML="** Please Enter Your Message **"
                document.getElementById('message_error').style.color="red"
                document.getElementById('message_error').style.display="block"
                status = 0
            }

            else{
                document.getElementById('message').style.borderColor="black"
                document.getElementById('message_error').style.display="none"
                status = 1
            }

            if(status == 1){
                return true
            }

            if(status == 0){
                return false
            }

          }
      </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> 
</body>
</html>