<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        body{
        background: linear-gradient(#cc2b5e,#753a88);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-left: 10px;
        padding-bottom: 30px;
        padding-right: 10px;
        }
        form{
        background-color: white;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        border-radius: 20px;
        }

        h1{
        color:crimson;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        padding-bottom: 10px;
        }
        hr{
        margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-7 col-lg-7">
                <form> 
                    <h1>Donor Registration</h1>
                    <hr color="red">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" class="form-control" id="firstname" placeholder="First Name" onkeyup="firstnamevalid()">
                                <label id="first_error"></label>
                          </div>
                          <div class="form-group col-md-6">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name" onkeyup="lastnamevalid()">
                                <label id="last_error"></label>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-5">
                                <label for="inputBloodGroup">Blood Group</label>
                                <select id="bloodgroup" class="form-control">
                                    <option  value="" value="">Choose...</option>
                                    <option>A+</option>
                                    <option>A-</option>
                                    <option>B+</option>
                                    <option>B-</option>
                                    <option>O+</option>
                                    <option>O-</option>
                                    <option>AB+</option>
                                    <option>AB-</option>
                                </select>

                                <label id="blood_error"></label>
                           </div>
                            <div class="form-group col-md-7">
                                <label for="inputAadhaar">Aadhaar Card Number</label>
                                <input type="text" class="form-control" id="aadhaar" placeholder="Aadhaar Card Number" onkeyup="aadhaarvalid()">
                                <label id="aadhaar_error"></label>
                            </div>
                        </div>
                        <div class="form-row">
                           <div class="form-group col-md-6">
                              <input type="file" name="" id="file">
                              <label id="file_error"></label>
                            </div>
                        </div>
                        <div class="form-row">
                          <div class="form-inline">
                               &nbsp;<label for="dob">Date Of Birth</label>
                            </div>&nbsp;
                               <div class="form-row">
                                    <div class="form-group col-md-4">
                                      <label for="inputDay">Day</label>
                                      <select id="day" class="form-control">
                                          <option value="" value="">Choose...</option>
                                          <option>1</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                          <option>6</option>
                                          <option>7</option>
                                          <option>8</option>
                                          <option>9</option>
                                          <option>10</option>
                                          <option>11</option>
                                          <option>12</option>
                                          <option>13</option>
                                          <option>14</option>
                                          <option>15</option>
                                          <option>16</option>
                                          <option>17</option>
                                          <option>18</option>
                                          <option>19</option>
                                          <option>20</option>
                                          <option>21</option>
                                          <option>22</option>
                                          <option>23</option>
                                          <option>24</option>
                                          <option>25</option>
                                          <option>26</option>
                                          <option>27</option>
                                          <option>28</option>
                                          <option>29</option>
                                          <option>30</option>
                                          <option>31</option>
                                        </select>
                                        <label id="dob_error1"></label>
                                    </div>
                                    <div class="form-group col-md-4">
                                       <label for="inputMonth">Month</label>
                                       <select id="month" class="form-control">
                                            <option value="" value="">Choose...</option>
                                            <option>January</option>
                                            <option>February</option>
                                            <option>March</option>
                                            <option>April</option>
                                            <option>May</option>
                                            <option>June</option>
                                            <option>July</option>
                                            <option>Augest</option>
                                            <option>September</option>
                                            <option>October</option>
                                            <option>November</option>
                                            <option>December</option>
                                        </select>
                                        <label id="dob_error2"></label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputYear">Year</label>
                                        <select id="year" class="form-control">
                                            <option value="" value="">Choose...</option>
                                            <option>1950</option>
                                            <option>1951</option>
                                            <option>1952</option>
                                            <option>1953</option>
                                            <option>1954</option>
                                            <option>1955</option>
                                            <option>1956</option>
                                            <option>1957</option>
                                            <option>1958</option>
                                            <option>1959</option>
                                            <option>1960</option>
                                            <option>1961</option>
                                            <option>1962</option>
                                            <option>1963</option>
                                            <option>1964</option>
                                            <option>1965</option>
                                            <option>1966</option>
                                            <option>1967</option>
                                            <option>1968</option>
                                            <option>1969</option>
                                            <option>1970</option>
                                            <option>1971</option>
                                            <option>1972</option>
                                            <option>1973</option>
                                            <option>1974</option>
                                            <option>1975</option>
                                            <option>1976</option>
                                            <option>1977</option>
                                            <option>1978</option>
                                            <option>1979</option>
                                            <option>1980</option>
                                            <option>1981</option>
                                            <option>1982</option>
                                            <option>1983</option>
                                            <option>1984</option>
                                            <option>1985</option>
                                            <option>1986</option>
                                            <option>1987</option>
                                            <option>1988</option>
                                            <option>1989</option>
                                            <option>1990</option>
                                            <option>1991</option>
                                            <option>1992</option>
                                            <option>1993</option>
                                            <option>1994</option>
                                            <option>1995</option>
                                            <option>1996</option>
                                            <option>1997</option>
                                            <option>1998</option>
                                            <option>1999</option>
                                            <option>2000</option>
                                            <option>2001</option>
                                            <option>2002</option>
                                            <option>2003</option>
                                            <option>2004</option>
                                            <option>2005</option>
                                            <option>2006</option>
                                            <option>2007</option>
                                            <option>2008</option>
                                            <option>2009</option>
                                            <option>2010</option>
                                            <option>2011</option>
                                            <option>2012</option>
                                            <option>2013</option>
                                            <option>2014</option>
                                            <option>2015</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                        </select>
                                        <label id="dob_error3"></label>
                                    </div>
                                </div>
                            
                        </div>
                        <div class="form-row">
                           <div class="form-group">
                              <label for="gender">Gender</label>
                              <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input">
                                  <label class="custom-control-label" for="customRadioInline1">Male</label>
                                  <label id="gender_error"></label>
                                </div>
                               <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input">
                                  <label class="custom-control-label" for="customRadioInline2">Female</label>
                               </div>
                               <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input">
                                  <label class="custom-control-label" for="customRadioInline3">Others</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                           <div class="form-group col-md-12">
                                <label for="inputAddress">Permanent Address</label>
                                <textarea class="form-control" id="permanentaddress" cols="10" rows="2" placeholder="Permanent Address"></textarea>
                                <label id="address_error"></label>
                           </div>
                        
                           <div class="form-row">
                              <div class="form-group col-md-4">
                                 <label for="inputState">State</label>
                                 <select id="state" class="form-control">
                                       <option value="" value="">Choose...</option>
                                       <option>Kerala</option>
                                       <option>Tamilnadu</option>
                                       <option>Karnataka</option>
                                       <option>Andra Pradesh</option>
                                       <option>Telangana</option>
                                    </select>
                                    <label id="state_error"></label>
                                </div> 

                               <div class="form-group col-md-4">
                                  <label for="inputDistrict">District</label>
                                  <select id="district" class="form-control">
                                        <option value="" value="">Choose...</option>
                                        <option>Alappuzha</option>
                                        <option>Eranakulam</option>
                                        <option>Idukki</option>
                                        <option>Kannur</option>
                                        <option>Kasaragod</option>
                                        <option>Kollam</option>
                                        <option>Kottayam</option>
                                        <option>Kozhikode</option>
                                        <option>Malappuram</option>
                                        <option>Palakkad</option>
                                        <option>Pathanamthitta</option>
                                        <option>Thiruvanathapuram</option>
                                        <option>Thrissur</option>
                                        <option>Wayanad</option>
                                    </select>
                                    <label id="district_error"></label>
                                </div> 
                                <div class="form-group col-md-4">
                                  <label for="inputPin">Pin Code</label>
                                  <input type="text" class="form-control" id="pincode" placeholder="Pincode" onkeyup="pincodevalid()">
                                  <label id="pincode_error"></label>
                              </div>
                          </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPhoneNumber">Mobile Number</label>
                                <input type="text" class="form-control" id="phonenumber" placeholder="Mobile Number" onkeyup="phonevalid()">
                                <label id="phone_error"></label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email Address</label>
                                <input type="email" class="form-control" id="emailid" placeholder="Email Id" onkeyup="emailvalid()">
                                <label id="email_error"></label>
                            </div>
                        </div>
                          <div class="form-row">
                               <div class="form-group col-md-6">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" onkeyup="passwordvalid()">
                                    <label id="password_error"></label>
                               </div>
                               <div class="form-group col-md-6">
                                    <label for="inputConfirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" onkeyup="confirmpassvalid()">
                                    <label id="cpassword_error"></label>
                               </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="auth">
                                    <label class="form-check-label" for="invalidCheck2">
                                    I authorize this website to display my name and phone number, so that the needy could contact me when there is an emergency.</label><br><br>
                                    <label id="auth_error"></label>
                                </div>
                            </div>
                            <button class="btn btn-primary col-md-12" type="submit" onclick="return validation()">Sign Up</button>&nbsp;
                            <button class="btn btn-danger col-md-12" type="submit">Reset</button>
                </form>          
            </div>
        </div>
   </div>

    
    <script>
        function validation(){
            var status = 1
            var fname = document.getElementById('firstname')
            var lname = document.getElementById('lastname')
            var blood = document.getElementById('bloodgroup')
            var aadhaar = document.getElementById('aadhaar')
            var file = document.getElementById('file')
            var day = document.getElementById('day')
            var month = document.getElementById('month')
            var year = document.getElementById('year')
            var address = document.getElementById('permanentaddress')
            var state = document.getElementById('state')
            var district = document.getElementById('district')
            var pin = document.getElementById('pincode')
            var phone = document.getElementById('phonenumber')
            var email = document.getElementById('emailid')
            var pass = document.getElementById('password')
            var cpass = document.getElementById('cpassword')
            var auth = document.getElementById('auth')

            if(fname.value == ""){
                document.getElementById('firstname').style.borderColor="red"
                document.getElementById('first_error').innerHTML="** Please Enter Your First Name **"
                document.getElementById('first_error').style.color="red"
                document.getElementById('first_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('firstname').style.borderColor="black"
                document.getElementById('first_error').style.display="none"
                var status = 1
          
            }

            if(lname.value == ""){
                document.getElementById('lastname').style.borderColor="red"
                document.getElementById('last_error').innerHTML="** Please Enter Your Last Name **"
                document.getElementById('last_error').style.color="red"
                document.getElementById('last_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('lastname').style.borderColor="black"
                document.getElementById('last_error').style.display="none"
                var status = 1
            }

            if(blood.value == ""){
                document.getElementById('bloodgroup').style.borderColor="red"
                document.getElementById('blood_error').innerHTML="** Please Enter Your Blood Group **"
                document.getElementById('blood_error').style.color="red"
                document.getElementById('blood_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('bloodgroup').style.borderColor="black"
                document.getElementById('blood_error').style.display="none"
                var status = 1
            }


            if(aadhaar.value == ""){
                document.getElementById('aadhaar').style.borderColor="red"
                document.getElementById('aadhaar_error').innerHTML="** Please Enter Your Aadhaar Number **"
                document.getElementById('aadhaar_error').style.color="red"
                document.getElementById('aadhaar_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('aadhaar').style.borderColor="black"
                document.getElementById('aadhaar_error').style.display="none"
                var status = 1
            }

            if(file.value == ""){
                document.getElementById('file').style.borderColor="red"
                document.getElementById('file_error').innerHTML="** Please Upload File **"
                document.getElementById('file_error').style.color="red"
                document.getElementById('file_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('file').style.borderColor="black"
                document.getElementById('file_error').style.display="none"
                var status = 1
            }

            if(day.value == ""){
                document.getElementById('day').style.borderColor="red"
                document.getElementById('dob_error1').innerHTML="** Please Enter Your Day **"
                document.getElementById('dob_error1').style.color="red"
                document.getElementById('dob_error1').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('day').style.borderColor="black"
                document.getElementById('dob_error1').style.display="none"
                var status = 1
            }

            if(month.value == ""){
                document.getElementById('month').style.borderColor="red"
                document.getElementById('dob_error2').innerHTML="** Please Enter Your Month **"
                document.getElementById('dob_error2').style.color="red"
                document.getElementById('dob_error2').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('month').style.borderColor="black"
                document.getElementById('dob_error2').style.display="none"
                var status = 1
            }

            if(year.value == ""){
                document.getElementById('year').style.borderColor="red"
                document.getElementById('dob_error3').innerHTML="** Please Enter Your Year **"
                document.getElementById('dob_error3').style.color="red"
                document.getElementById('dob_error3').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('year').style.borderColor="black"
                document.getElementById('dob_error3').style.display="none"
                var status = 1
            }

            if(address.value == ""){
                document.getElementById('permanentaddress').style.borderColor="red"
                document.getElementById('address_error').innerHTML="** Please Enter Your Permanent Address **"
                document.getElementById('address_error').style.color="red"
                document.getElementById('address_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('permanentaddress').style.borderColor="black"
                document.getElementById('address_error').style.display="none"
                var status = 1
            }

            if(state.value == ""){
                document.getElementById('state').style.borderColor="red"
                document.getElementById('state_error').innerHTML="** Please Enter Your State **"
                document.getElementById('state_error').style.color="red"
                document.getElementById('state_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('state').style.borderColor="black"
                document.getElementById('state_error').style.display="none"
                var status = 1
            }

            if(district.value == ""){
                document.getElementById('district').style.borderColor="red"
                document.getElementById('district_error').innerHTML="** Please Enter Your State **"
                document.getElementById('district_error').style.color="red"
                document.getElementById('district_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('district').style.borderColor="black"
                document.getElementById('district_error').style.display="none"
                var status = 1
            }

            if(pin.value == ""){
                document.getElementById('pincode').style.borderColor="red"
                document.getElementById('pincode_error').innerHTML="** Please Enter Your Pincode **"
                document.getElementById('pincode_error').style.color="red"
                document.getElementById('pincode_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('pincode').style.borderColor="black"
                document.getElementById('pincode_error').style.display="none"
                var status = 1
            }

            if(phone.value == ""){
                document.getElementById('phonenumber').style.borderColor="red"
                document.getElementById('phone_error').innerHTML="** Please Enter Your Mobile Number **"
                document.getElementById('phone_error').style.color="red"
                document.getElementById('phone_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('phonenumber').style.borderColor="black"
                document.getElementById('phone_error').style.display="none"
                var status = 1
            }

            if(email.value == ""){
                document.getElementById('emailid').style.borderColor="red"
                document.getElementById('email_error').innerHTML="** Please Enter Your Email Id **"
                document.getElementById('email_error').style.color="red"
                document.getElementById('email_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('emailid').style.borderColor="black"
                document.getElementById('email_error').style.display="none"
                var status = 1
            }

            if(pass.value == ""){
                document.getElementById('password').style.borderColor="red"
                document.getElementById('password_error').innerHTML="** Please Enter Your Password **"
                document.getElementById('password_error').style.color="red"
                document.getElementById('password_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('password').style.borderColor="black"
                document.getElementById('password_error').style.display="none"
                var status = 1
            }

            if(cpass.value == ""){
                document.getElementById('cpassword').style.borderColor="red"
                document.getElementById('cpassword_error').innerHTML="** Please Enter Your Confirm Password **"
                document.getElementById('cpassword_error').style.color="red"
                document.getElementById('cpassword_error').style.display="block"
                var status = 0
            }

            else{
                document.getElementById('cpassword').style.borderColor="black"
                document.getElementById('cpassword_error').style.display="none"
                var status = 1
            }

            if(auth.value == ""){
                document.getElementById('auth').style.borderColor="red"
                document.getElementById('auth_error').innerHTML="** Please Enter Your Authentication **"
                document.getElementById('auth_error').style.color="red"
                document.getElementById('auth_error').style.display="block"
                var status = 0
            }

            if(auth.checked){
                document.getElementById('auth').style.borderColor="black"
                document.getElementById('auth_error').style.display="none"
                var status = 0
            }

            if(status == 0){
                return false
            }

            if(status == 1){
                return true
            }

        }

        function firstnamevalid(){
            var fname = document.getElementById('firstname').value

        if(isNaN(fname)){
          document.getElementById('firstname').style.borderColor="black"
          document.getElementById('first_error').style.display="none" 
        }
       
       else{
          document.getElementById('firstname').style.borderColor="red"
          document.getElementById('first_error').innerHTML="** Please Enter A Valid Email Id **"
          document.getElementById('first_error').style.color="red"
          document.getElementById('first_error').style.display="block"
        }

                
        }

       function lastnamevalid(){
        var lname = document.getElementById('lastname').value
        if(isNaN(lname)){
          document.getElementById('lastname').style.borderColor="black"
          document.getElementById('last_error').style.display="none" 
        }
       
       else{
          document.getElementById('lastname').style.borderColor="red"
          document.getElementById('last_error').innerHTML="** Please Enter A Valid Email Id **"
          document.getElementById('last_error').style.color="red"
          document.getElementById('last_error').style.display="block"
        }
       }

       function aadhaarvalid(){
        var aadhaar = document.getElementById('aadhaar').value
        if(isNaN(aadhaar)){
            document.getElementById('aadhaar').style.borderColor="red"
            document.getElementById('aadhaar_error').innerHTML="** Please Enter A Valid Aadhaar Number **"
            document.getElementById('aadhaar_error').style.color="red"
            document.getElementById('aadhaar_error').style.display="block" 
        }

        if(aadhaar.length<=0){
            document.getElementById('aadhaar').style.borderColor="red"
            document.getElementById('aadhaar_error').innerHTML="** Aadhaar Number Must Have 12 Digits **"
            document.getElementById('aadhaar_error').style.color="red"
            document.getElementById('aadhaar_error').style.display="block"  
        }
        
        if(aadhaar.length == 12){
            document.getElementById('aadhaar').style.borderColor="green"
            document.getElementById('aadhaar_error').innerHTML="** You Entered A Perfect Aadhaar Number **"
            document.getElementById('aadhaar_error').style.color="green"
            document.getElementById('aadhaar_error').style.display="block"
        }

        if(aadhaar.length == 13){
            document.getElementById('aadhaar').style.borderColor="red"
            document.getElementById('aadhaar_error').innerHTML="** Aadhaar Number Must Have 12 Digits **"
            document.getElementById('aadhaar_error').style.color="red"
            document.getElementById('aadhaar_error').style.display="block"
        }
        
       }

       function pincodevalid(){
        var pin = document.getElementById('pincode').value
        if(isNaN(pin)){
            document.getElementById('pincode').style.borderColor="red"
            document.getElementById('pincode_error').innerHTML="** Please Enter A Valid Pincode **"
            document.getElementById('pincode_error').style.color="red"
            document.getElementById('pincode_error').style.display="block"
        }

        if(pin.length <= 0){
            document.getElementById('pincode').style.borderColor="red"
            document.getElementById('pincode_error').innerHTML="** Pincode Must Have 6 Digits **"
            document.getElementById('pincode_error').style.color="red"
            document.getElementById('pincode_error').style.display="block"
        }

        if(pin.length == 6){
            document.getElementById('pincode').style.borderColor="green"
            document.getElementById('pincode_error').innerHTML="** You Entered A Perfect Pincode **"
            document.getElementById('pincode_error').style.color="green"
            document.getElementById('pincode_error').style.display="block" 
        }

        if(pin.length == 7){
            document.getElementById('pincode').style.borderColor="red"
            document.getElementById('pincode_error').innerHTML="** Pincode Must Have 6 Digits **"
            document.getElementById('pincode_error').style.color="red"
            document.getElementById('pincode_error').style.display="block"
        }

       }

       function phonevalid(){
        var phone = document.getElementById('phonenumber').value
        if(isNaN(phone)){
            document.getElementById('phonenumber').style.borderColor="red"
            document.getElementById('phone_error').innerHTML="** Please Enter A Valid Mobile Number **"
            document.getElementById('phone_error').style.color="red"
            document.getElementById('phone_error').style.display="block"
        }

        if(phone.length <= 0){
            document.getElementById('phonenumber').style.borderColor="red"
            document.getElementById('phone_error').innerHTML="** Mobile Number Must Have 10 Digits **"
            document.getElementById('phone_error').style.color="red"
            document.getElementById('phone_error').style.display="block"
        }

        if(phone.length == 10){
            document.getElementById('phonenumber').style.borderColor="green"
            document.getElementById('phone_error').innerHTML="** You Entered A Perfect Mobile Number **"
            document.getElementById('phone_error').style.color="green"
            document.getElementById('phone_error').style.display="block" 
        }

        if(phone.length == 11){
            document.getElementById('phonenumber').style.borderColor="red"
            document.getElementById('phone_error').innerHTML="** Mobile Number Must Have 10 Digits **"
            document.getElementById('phone_error').style.color="red"
            document.getElementById('phone_error').style.display="block"  
        }

       }

       function emailvalid(){
        var email = document.getElementById('emailid').value
        if(isNaN(email)){
          document.getElementById('emailid').style.borderColor="black"
          document.getElementById('email_error').style.display="none" 
       }
       
       else{
          document.getElementById('emailid').style.borderColor="red"
          document.getElementById('email_error').innerHTML="** Please Enter A Valid Email Id **"
          document.getElementById('email_error').style.color="red"
          document.getElementById('email_error').style.display="block"
       }
       }

       function passwordvalid(){
        var pass = document.getElementById('password').value
        if(pass.length <= 8){
           document.getElementById('password').style.borderColor="red"
           document.getElementById('password_error').innerHTML="** Password Must Have 8 Characters **"
           document.getElementById('password_error').style.color="red"
           document.getElementById('password_error').style.display="block" 
        }

        if(pass.length == 8){
            document.getElementById('password').style.borderColor="green"
            document.getElementById('password_error').innerHTML="** You Entered A Perfect Password **"
            document.getElementById('password_error').style.color="green"
            document.getElementById('password_error').style.display="block"
        }

        if(pass.length == 9){
            document.getElementById('password').style.borderColor="red"
            document.getElementById('password_error').innerHTML="** Password Must Have 8 Characters **"
            document.getElementById('password_error').style.color="red"
            document.getElementById('password_error').style.display="block" 
        }
        
       }

       function confirmpassvalid(){
        var pass = document.getElementById('password').value
        var cpass = document.getElementById('cpassword').value
        if(cpass.length <= 8){
           document.getElementById('cpassword').style.borderColor="red"
           document.getElementById('cpassword_error').innerHTML="** Confirm Password Must Have 8 Characters **"
           document.getElementById('cpassword_error').style.color="red"
           document.getElementById('cpassword_error').style.display="block" 
        }

        if(cpass.length == 8){
            document.getElementById('cpassword').style.borderColor="green"
            document.getElementById('cpassword_error').innerHTML="** You Entered A Perfect Confirm Password **"
            document.getElementById('cpassword_error').style.color="green"
            document.getElementById('cpassword_error').style.display="block"
        }

        if(cpass.length == 9){
            document.getElementById('cpassword').style.borderColor="red"
            document.getElementById('cpassword_error').innerHTML="** Confirm Password Must Have 8 Characters **"
            document.getElementById('cpassword_error').style.color="red"
            document.getElementById('cpassword_error').style.display="block" 
        }

        if(pass != cpass){
            document.getElementById('cpassword').style.borderColor="red"
            document.getElementById('cpassword_error').innerHTML="** Password And Confirm Password Must Be Same **"
            document.getElementById('cpassword_error').style.color="red"
            document.getElementById('cpassword_error').style.display="block"   
        }
       }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>
</body>
</html>