{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donors Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/hospital_search_.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-danger">
      <img src="{% static 'images/hospital/donation.png' %}" class="navbar-brand" alt="" width="150px">
      <a class="navbar-brand" style="font-size: 30px;" href="#"><h1>Life Saver</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hospital_home' %}"><span class="fa fa-home"> Home</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-plus"> Create</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
              <a class="dropdown-item" href="{% url 'hospitalcamp' %}"><span class="fa fa-hospital-o"> Camps</span></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-eye"> View</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: grey;">
              <a class="dropdown-item" href="{% url 'camptable' %}"><span class="fa fa-hospital-o"> Camps</span></a>
              <a class="dropdown-item" href="{% url 'bloodrequest' %}"><span class="fa fa-heart"> Blood Requests</span></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'hospital_search' %}"><span class="fa fa-search"> Search</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hospitalnotification' %}"><span class="fa fa-bell"> Notification</span></a>
          </li>
        </ul>
        <a href="{% url 'hospital_logout' %}" class="btn btn-warning"><span class="fa fa-sign-out">Logout</span></a>
      </div>
    </nav>
    
    <div class="row">
      <div class="col-xs-12 col-lg-12" style="margin-top: 200px;">
        <h1 style="margin-bottom: 100px; margin-left: 10px; color: darkred;">Blood Donors List</h1>
      </div>
      <div class="col-xs-6 col-lg-6">
        <table border="2" style="margin-bottom: 200px; margin-left: 10px;">
          <tr class="table table-success">
            <th>Donor Id</th>
            <th>Donor Name</th>
            <th>Blood Group</th>
            <th>Location</th>
            <th>Phone Number</th>
          </tr>

          <tr>
            <td>1</td>
            <td>Muhammed Mujeer</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9496362664</td>
          </tr>
          
          <tr>
            <td>2</td>
            <td>Roji Samuel</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9809937869</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Ifthikharudheen</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9447794024</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Shahul</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9745282116</td>
          </tr>

          <tr>
            <td>5</td>
            <td>Sabitha Ck</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9995539433</td>
          </tr>

          <tr>
            <td>6</td>
            <td>Nisar</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>8157860897</td>
          </tr>

          <tr>
            <td>7</td>
            <td>Ijas Mohammed</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9747790092</td>
          </tr>

          <tr>
            <td>8</td>
            <td>Saleeq Rahman</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9633867997</td>
          </tr>

          <tr>
            <td>9</td>
            <td>Amrutha P</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>9567469147</td>
          </tr>

          <tr>
            <td>10</td>
            <td>Sajith P</td>
            <td>A+</td>
            <td>Manjeri</td>
            <td>7034949584</td>
          </tr>
        </table>
      </div>

      <div class="col-xs-4 col-lg-4" style="margin-top: 5px; margin-bottom: 200px; margin-left: auto; margin-right: auto;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="https://moulanahospital.com/"><img src="{% static 'images/hospital/slider-1.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.asterhospitals.in/hospitals/aster-mims-calicut"><img src="{% static 'images/hospital/slider-2.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.kimshealth.org/alshifa/"><img src="{% static 'images/hospital/slider-3.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://babymhospital.org/"><img src="{% static 'images/hospital/slider-4.png' %}" class="d-block w-100"></a>
            </div>
            <div class="carousel-item">
              <a href="https://www.traumacaremalappuram.com/"><img src="{% static 'images/hospital/slider-5.png' %}" class="d-block w-100"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-lg-2"></div>
    </div>


    <div class="col-xs-12 col-lg-12">
      <a href="#top">
      <div class="top">
        <img src="{% static 'images/donor/topnav.png' %}" class="topimage"></a>
      </div>
    </div>
  
    <div class="container-fluid1">
      <div class="col-xs-12 col-lg-12">
        <div class="footer1">
          <a href=""><label class="label">Terms And Conditions</label></a><a href="{% url 'about' %}"><label class="label">About Us</label></a><a href="{% url 'contact' %}"><label class="label">Contact Us</label></a><br>
          <a href=""><label class="label">©Blood Donation System</label></a> <a href=""><label class="label">Designed And Developed By Arun Pacheeri</label></a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> 
  </body>
</html>